/.vs
/LaunchPad.Mobile/LaunchPad.Mobile/bin
/LaunchPad.Mobile/LaunchPad.Mobile/obj
/LaunchPad.Mobile/LaunchPad.Mobile.Android/bin
/LaunchPad.Mobile/LaunchPad.Mobile.Android/obj
/LaunchPad.Mobile/.vs/LaunchPad.Mobile/v16
/LaunchPad.Client/bin
/LaunchPad.Client/obj
/LaunchPad.Model/bin
/LaunchPad.Model/obj
/LaunchPad.Mobile/LaunchPad.Repository/obj
/LaunchPad.Mobile/LaunchPad.Repository/bin
/LaunchPad.Mobile/.vs/LaunchPad.Mobile/DesignTimeBuild
*.cache
*.cache
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
LaunchPad.Mobile/LaunchPad.Mobile.Android/LaunchPad.Mobile.Android.csproj.user
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/iPhone/Debug/LaunchPad.Mobile.iOS.csprojAssemblyReference.cache
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/iPhoneSimulator/Release/LaunchPad.Mobile.iOS.csprojAssemblyReference.cache
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/LaunchPad.Mobile.iOS.csproj.nuget.dgspec.json
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/LaunchPad.Mobile.iOS.csproj.nuget.g.props
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/project.assets.json
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/project.nuget.cache
LaunchPad.Mobile/LaunchPad.Mobile.iOS/obj/iPhone/Debug/LaunchPad.Mobile.iOS.csprojAssemblyReference.cache
*.cache
*.user
*.cache
*.json
*.props
