/.vs
/LaunchPad.Mobile/LaunchPad.Mobile/bin
/LaunchPad.Mobile/LaunchPad.Mobile/obj
/LaunchPad.Mobile/LaunchPad.Mobile.Android/bin
/LaunchPad.Mobile/LaunchPad.Mobile.Android/obj
/LaunchPad.Mobile/.vs/LaunchPad.Mobile/v16
